# ---> VisualStudioCode
.settings
.vscode
.idea
.jshintrc

# Build
/build
/web-ext-artifacts
/node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
