/** tachikoma */

html,
body {
	@apply bg-tachikoma-700 text-gray-200 scroll-smooth;
}

body {
	min-width: 40rem;
}

.label {
	@apply block my-2 px-2;
}

.input {
	@apply m-0 px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.color-box {
	@apply relative inline-block w-8 h-8 ml-2 rounded-md border-2 border-gray-500 overflow-hidden;
}
.color-box .checkered {
	@apply absolute top-0 right-0 bottom-0 left-0;
	background-image: linear-gradient(45deg, white 25%, black 25%), linear-gradient(-45deg, white 25%, black 25%),
		linear-gradient(45deg, black 75%, white 75%), linear-gradient(-45deg, black 75%, white 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
.color-box .color {
	@apply absolute top-0 right-0 bottom-0 left-0 transition-all;
}

.sub-option > .title {
	@apply relative;
}

.sub-option > .title::before {
	@apply absolute top-0 bottom-0 left-0  bg-gradient-to-t from-white to-transparent;
	content: "";
	width: 1px;
}

.sub-option > .level-4 {
	@apply bg-gradient-to-t from-tachikoma-600 to-transparent;
}

:not(.sub-option) > .level-4 {
	@apply bg-tachikoma-600;
}

.level-1 + .level-2,
.level-1 + div > .level-2:first-child {
	@apply !border-t-0;
}

:not(.sub-option) > :not(.level-2) + .level-3,
:not(.sub-option) > :not(.level-3) + .level-4 {
	@apply border-t;
}

:not(.level-1) + .level-2,
:not(.level-2) + .level-3,
:not(.level-3) + .level-4,
.sub-option > .level-3:first-child,
.sub-option > .level-4:first-child {
	@apply mt-2;
}
